<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.siyuxiu.cateringapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CaterHomepage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CatererEventList" />
        <activity android:name=".EventNameEnterPage" />
        <activity android:name=".EventDetailPage" />
        <activity android:name=".CatererFuctionList" />
        <activity android:name=".CatererPickUpDatePage" />
        <activity android:name=".CatererCalendarEventView" />
        <activity android:name=".MainActivity" />
        <activity android:name=".CatererSchedulePlaceForEvent" />
        <activity android:name=".AssignStaffToEvent" />
        <activity android:name=".CatererEventCreation" />
        <activity android:name=".AddResources"></activity>
    </application>

</manifest>